*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background: radial-gradient(circle, rgb(29, 78, 87) 15%, rgb(19, 50, 61) 70%);
    height: 100vh; 
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: sans-serif;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    display: flex;
    padding: 40px 0px 40px 150px;
}

header h3{
    font-size: 25px;
    font-weight: 100;
    color: rgb(222, 223, 223);
}
header nav{
    position: relative;
    margin: 0px 300px;
}
nav a{
    margin: 0px 0px 0px 50px;
    text-decoration: none;
    color: white;
}

header button{
    padding: 5px 17px ;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: 0px solid transparent;
    border-radius: 10%;
    transition: .2s;
}
header button:hover{
    background-color: white;
    color: black;
}
header button:active{
    background-color: black;
    color: white;
}
main .section1{
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
main .section1 span{
    background-color:rgba(109, 120, 129, 0.4);
    color: aliceblue;
    padding: 5px;
    margin-top: 70px ;
    margin-bottom: 10px;
    border-radius: 10px;
}

main .section1 h1{
    width: fit-content;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    text-transform: capitalize;
    color: aliceblue;
}
main .section1 .c1{
    background: linear-gradient(to right, #71a7ed, #71a194, #d0b491);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
main .section1 p{
    text-align: center;
    color: aliceblue;
    opacity: .85;
    padding: 20px;
}
main .section1 button{
    background-color: transparent;
    border: 2px rgb(80, 217, 227) solid;
    border-radius: 10px;
    width: 8vw;
    padding: 10px 0px;
    color: rgb(80, 217, 227);
    font-size: 15px;
    transition: .1s;
}
main .section1 button:hover{
    background-color: rgb(80, 217, 227);
    color: black;
}
main .section1 button:active{
    opacity: .7;
}
.section2{
    width: 100vw;
    height: auto;
    position: relative;
    top: 65vh;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.section2 div{
    width: 350px;
    padding: 30px;
    margin-bottom: 100px;
    color: aliceblue;
    background-color:rgba(109, 120, 129, 0.4);
    border-radius: 15px;
    border: 1px rgb(109, 120, 129) solid ;
}
.section2 div:hover{
    background-color:rgba(109, 120, 129, 0.7);}
.section2 div i{
    color:   #71a7ed;
    font-size: 35px;
    padding: 10px;
}
.section2 h1{
    padding: 20px 0px;
    
}

